{% extends "admin/change_form.html" %}
{% load flatblockspreview_tags static %}

{% block bodyclass %}{{ block.super }}
    {{ original.mailing_set.all }}
{% endblock %}

{% block extrastyle %}
    <style>
        [name=content] {
            width: 40%;
        }

        .content-preview {
            display: inline-block;
            margin-left: 2%;
            width: 40%;
        }
    </style>
{% endblock %}

{% block extrahead %}{{ block.super }}
    {% preview_url original as flatblock_preview_url %}
    <script src="{% static "bower_components/underscore/underscore-min.js" %}"></script>
    <script>
        (function ($) {
            $(document).ready(function() {
                var $content = $(':input[name=content]'),
                    $preview = $('<div></div>').addClass('content-preview'),
                    url = '{{ flatblock_preview_url }}';
                $content.after($preview);

                // If there is no preview url, jump out here
                if (url === '') {
                    $preview.text('Sorry, no preview is available.');
                    return;
                }

                function updatePreview() {
                    $.ajax(url, {
                        data: {
                            content: $content.val()
                        },
                        type: 'POST'
                    })
                        .done(function (data) {
                            $preview.html(data);
                        });
                }
                updatePreview();

                var debouncedUpdatePreview = _.debounce(updatePreview, 350);
                $content.keyup(debouncedUpdatePreview);
            });
        })(django.jQuery);
    </script>
{% endblock %}
