{% extends "admin/change_list.html" %}

{% block content %}
    <div class="model-explanation">
        <p>
            <strong>Friendly Owners</strong> are created when someone fills in the form you see after clicking "I know of vacant land not on this map" on the main map.
        </p>
        <p>
            This means that we do not have a lot for a piece of land that someone else (presumably who lives in the neighborhood and knows better than we do) knows is vacant. See the <a href="http://596acres.github.io/django-livinglots/friendlyowners/" target="_blank">User Guide</a> for more.
        </p>
    </div>
    {{ block.super }}
{% endblock %}
