{% load i18n %}

<div class="overlaymenu-tip-container">
    <div class="overlaymenu-tip"></div>
</div>

<div class="download-container">
    <a href="#" class="export-link btn btn-default btn-block">{% trans "Link to this view" %}</a>
    <div class="download-links-message">{% trans "Or download current lots" %}:</div>
    <a href="#" class="export-csv btn btn-default btn-block" data-baseurl="{% url "lots:csv" %}?">{% trans "spreadsheet" %}</a>
    <a href="#" class="export-geojson btn btn-default btn-block" data-baseurl="{% url "lots:geojson" %}?download=yes&">{% trans "GeoJSON" %}</a>
    <a href="#" class="export-kml btn btn-default btn-block" data-baseurl="{% url "lots:kml" %}?">{% trans "KML" %}</a>
</div>
