{% load blog_widgets feincms_tags i18n static %}

<div class="map-tally-container">
    <div class="map-tally">
        <h2 class="map-tally-header map-tally-header-no-boundary">{% trans "You are currently looking at" %}</h2>
        <h2 class="map-tally-header map-tally-header-boundary">{% trans "You are currently looking at lots within" %} <span class="map-tally-header-boundary-layer"></span> <span class="map-tally-header-boundary-label"></span></h2>
        <div class="map-tally-counts">
            <span class="count no-known-use-count">...</span> {% trans "lots with no known use" %}
            <span class="count in-use-count">...</span> {% trans "lots being used as community spaces" %}
        </div>
    </div>

    <div class="main-buttons btn-group">
        <a href="#" class="btn btn-default overlay-filter-button">{% trans "Filter" %}</a>
        <a href="#" class="btn btn-default overlay-news-button">{% trans "News feed" %}</a>
        <a href="#" class="btn btn-default overlay-download-button">{% trans "Download" %}</a>
    </div>
</div>

<div>
    {% include "lots/map/_mainmap.html" %}

    <div id="streetview-container" style="padding: 25px; display: none;">
        <div id="streetview" style="height: 300px; width: 100%;">
        </div>
        <div id="streetview-error" class="streetview">
            {% trans "Sorry, we couldn't find streetview imagery for this lot." %}
        </div>
    </div>

    <div class="map-find-a-lot-container searchbar">
        <div class="map-find-a-lot">
            <form class="map-find-a-lot-form form-inline">
                <label for="search">{% trans "Find a lot" %}</label>
                <input id="search" class="form-control" name="search" placeholder="{% trans "Search by address, zip code, or neighborhood" %}" type="text" />
                <button class="map-find-a-lot-submit" type="submit">{% trans "GO" %}</button>
                <div class="warning" style="display: none;"></div>
            </form>
        </div>
        <div class="map-friendlyowners">
            <a href="#" class="map-friendlyowners-activate">
                {% trans "I know of vacant land not on this map" %}
            </a>
            <div class="map-friendlyowners-explanation">
                {% trans "Find and select the parcel you would like to add." %}
                <div>
                    <a href="#" class="map-friendlyowners-cancel btn btn-default">
                        {% trans "OK, I'm done" %}
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="clear"></div>
</div>

<div class="overlaymenu overlaymenu-filter">
    {% include "lots/filters.html" %}
</div>

<div class="overlaymenu overlaymenu-news">
    <div class="overlaymenu-tip-container">
        <div class="overlaymenu-tip"></div>
    </div>

    <div class="activity-stream-section">
        <h2>{% trans "News feed" %}</h2>
        <div class="activity-stream">
            <div class="activity-stream-container"></div>
        </div>
    </div>
</div>

<div class="overlaymenu overlaymenu-download">
    {% include "lots/download.html" %}
</div>
