{% load blog_widgets feincms_tags i18n static %}

<div class="map-tally-container">
    <div class="map-tally">
        <h2>{% trans "You are currently looking at" %}</h2>
        <div class="map-tally-counts">
            <span class="count no-known-use-count">...</span> {% trans "lots with no known use" %}
            <span class="count in-use-count">...</span> {% trans "lots being used as community spaces" %}
        </div>
    </div>

    <div class="main-buttons btn-group">
        <a href="#" class="btn btn-default overlay-filter-button">{% trans "Filter" %}</a>
        <a href="#" class="btn btn-default overlay-news-button">{% trans "News" %}</a>
        <a href="#" class="btn btn-default overlay-download-button">{% trans "Download" %}</a>
    </div>
</div>

<div>
    {% include "lots/map/_mainmap.html" %}

    <div id="streetview-container" style="padding: 25px; display: none;">
        <div id="streetview" style="height: 300px; width: 100%;">
        </div>
        <div id="streetview-error" class="streetview">
            {% trans "Sorry, we couldn't find streetview imagery for this lot." %}
        </div>
    </div>

    <div class="map-find-a-lot-container searchbar">
        <div class="map-find-a-lot">
            <form class="map-find-a-lot-form form-inline">
                <label for="search">{% trans "Find a lot" %}</label>
                <input id="search" class="form-control" name="search" placeholder="{% trans "Search by address, zip code, or neighborhood" %}" type="text" />
                <button class="map-find-a-lot-submit" type="submit">{% trans "GO" %}</button>
                <div class="warning" style="display: none;"></div>
            </form>
        </div>
    </div>

    <div>
        <a class="map-filters-toggle">
            {% trans "Advanced Search Tools" %}
        </a>
    </div>

    <div class="map-filters grid">

        <div class="filters">
            <form>
                {% for hidden_field in filters.hidden_fields %}
                {{ hidden_field }}
                {% endfor %}
            </form>
        </div>

        <div class="grid grid-1-3">

            <h2>{% trans "Known use" %}</h2>
            <div class="filters filters-known-use">
                {% with filtergroup=filters.known_use_filters %}
                {% include "lots/_filtergroup.html" %}
                {% endwith %}
            </div>

            <div class="filters-default-wrapper collapsible-section {% if "lots.view_all_filters" in perms %}visible{% endif %}">
                <h2 class="collapsible-section-header">
                    <span class="collapsible-section-title">
                        {% trans "Default filters" %}
                    </span>
                    <i class="collapsible-section-icon collapsible-section-expanded-icon icon-minus"></i>
                    <i class="collapsible-section-icon collapsible-section-collapsed-icon icon-plus"></i>
                    <div class="help-text">These are not usually visible to users</div>
                </h2>
                <div class="filters filters-default collapsible-section-text">
                    {% with filtergroup=filters.default_filters %}
                    {% include "lots/_filtergroup.html" %}
                    {% endwith %}
                </div>
            </div>

            <div class="collapsible-section">
                {% if "lots.view_all_filters" in perms %}
                    <h2 class="collapsible-section-header">
                        <span class="collapsible-section-title">
                            {% trans "Admin filters" %}
                        </span>
                        <i class="collapsible-section-icon collapsible-section-expanded-icon icon-minus"></i>
                        <i class="collapsible-section-icon collapsible-section-collapsed-icon icon-plus"></i>
                    </h2>
                    <div class="filters filters-admin collapsible-section-text">
                        {% with filtergroup=filters.admin_filters %}
                        {% include "lots/_filtergroup.html" %}
                        {% endwith %}
                    </div>
                {% endif %}
            </div>

        </div>


        <div class="grid grid-1-3">
            <h2>{% trans "View" %}</h2>
            <div class="filters filters-view">
                {% with filtergroup=filters.view_filters %}
                {% include "lots/_filtergroup.html" %}
                {% endwith %}
            </div>

            <h2>{% trans "Other filters" %}</h2>
            <div class="filters filters-other">
                {% with filtergroup=filters.other_filters %}
                {% include "lots/_filtergroup.html" %}
                {% endwith %}
            </div>

            {% if "organize.email_participants" in perms %}
                <h2 class="always-enabled">{% trans "Admin actions" %}</h2>
                <div class="admin-actions">
                    <a href="#" class="email-participants">{% trans "Email participants" %}</a>
                </div>
            {% endif %}
        </div>

        <div class="grid grid-1-3">
            <h2>{% trans "Private" %}</h2>
            <div class="filters filters-private">
                {% with filtergroup=filters.private_filters %}
                {% include "lots/_filtergroup.html" %}
                {% endwith %}
            </div>
        </div>

        <div class="clear"></div>

    </div>

    <div class="clear"></div>
</div>

<div class="overlaymenu overlaymenu-filter">
    <div class="overlaymenu-tip-container">
        <div class="overlaymenu-tip"></div>
    </div>

    <div class="overlaymenu-menu-content filters">
        <h2>{% trans "Filter" %}</h2>
        <ul class="filter-owner-list">
            <li class="filter-owner">
                <input id="layer-public" type="checkbox" class="filter filter-layer view-type-choropleth view-type-tiles" name="owner__owner_type__in" value="public" checked />
                <label class="filter-owner-label" for="layer-public">
                    <span class="legend-marker legend-marker-public"></span>
                    <span class="filter-owner-label-text">{% trans "publicly owned land" %}</span>
                </label>
            </li>
            <li class="filter-owner">
                <input id="layer-private" type="checkbox" class="filter filter-layer view-type-choropleth view-type-tiles" name="owner__owner_type__in" value="private" checked />
                <label class="filter-owner-label" for="layer-private">
                    <span class="legend-marker legend-marker-private"></span>
                    <span class="filter-owner-label-text">{% trans "private land" %}</span>
                </label>
            </li>
        </ul>

        <section class="filter-section filter-section-projects">
            <div class="form-horizontal filter-projects-row">
                <div class="control-label">
                    <label for="projects" class="">
                        <span class="legend-marker legend-marker-in-use"></span>
                        {% trans "projects" %}
                    </label>
                </div>
                <select class="filter filter-projects form-control view-type-choropleth view-type-tiles" name="projects" id="projects">
                    <option value="include">{% trans "include" %}</option>
                    <option value="exclude">{% trans "exclude" %}</option>
                    <option value="only">{% trans "show only projects" %}</option>
                </select>
            </div>
        </section>
    </div>
</div>

<div class="overlaymenu overlaymenu-news">
    <div class="overlaymenu-tip-container">
        <div class="overlaymenu-tip"></div>
    </div>

    <div class="social-media clearfix">
        <ul>
            <li class="social-media-icon">
                <a href="https://twitter.com/Grounded215" class="social-twitter" target="_blank"></a>
            </li>
        </ul>
    </div>

    <div class="activity-stream-section">
        <h2>{% trans "News" %}</h2>
        <div class="activity-stream">
            <div class="activity-stream-container"></div>
        </div>
    </div>
</div>

<div class="overlaymenu overlaymenu-download">
    <div class="overlaymenu-tip-container">
        <div class="overlaymenu-tip"></div>
    </div>

    <div class="download-container">
        <a href="#" class="export-link">{% trans "Link to this view" %}</a>. 
        {% trans "Or download current lots as" %}
        <a href="#" class="export-csv" data-baseurl="{% url "lots:csv" %}?">{% trans "a spreadsheet" %}</a>,
        <a href="#" class="export-geojson" data-baseurl="{% url "lots:geojson" %}?download=yes&">{% trans "GeoJSON" %}</a>, or
        <a href="#" class="export-kml" data-baseurl="{% url "lots:kml" %}?">{% trans "KML" %}</a>.
    </div>
</div>
