.activity-stream-section {
    margin: 25px 0;
}

.activity-stream-container {
    height: 150px;
    overflow-y: scroll;
    width: 100%;
}

#aside-right .activity-stream-container {
    height: 300px;
}

.activity-stream-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.activity-stream-list-item {
    border-bottom: 1px solid lightGray;
    list-style: none;
    padding: 10px;
    padding-left: 0;
}
.activity-stream-list-item .meta {
    font-size: 10px;
}
