h2.entry-title {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
}

.hentry {
    margin-bottom: 50px;
}

.hentry.first {
    margin-top: 50px;
}

.hentry .meta {
    font-size: 10px;
}

.entry-content,
.entry-summary {
    margin-bottom: 10px;
    margin-top: 10px;
}
