.legend {
    &-marker {
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        border-radius: 15px;
        display: inline-block;
        height: 15px;
        width: 15px;

        &-public {
            background-color: @public-lot-color;
        }

        &-private {
            background-color: @private-lot-color;
        }

        &-in-use {
            background-color: @in-use-lot-color;
        }
    }
}
