@media (min-width: 768px) {

    .lot-content-inner {
        padding-right: 25px;
    }

}

.lot-detail-page {
    .breadcrumb {
        display: none;
    }
}

.lot-detail {

    &-main {
        .make-md-column(9);
        padding: 10px;
    }

    &-side {
        .make-md-column(3);
        background-color: #F8F8F8;
        margin-top: 10px;
        padding: 10px;
    }

    &-streetview {
        margin-top: 10px;

        #streetview {
            height: 300px;
            width: 100%;
        }

        #streetview-error {
            display: none;
            font-style: italic;
            // Don't let empty streetview take over here
            margin-top: -225px;
            text-align: center;
        }
    }

    &-map-row {
        .make-row(0);
    }

    &-map {
        .make-md-column(3);

        margin-top: -100px;
        padding-left: 20px;
        position: relative;
        z-index: 500;

        #map {
            border: 1px solid black;
            cursor: pointer;

            .leaflet-control-attribution {
                font-size: 9px;
                line-height: 10px;
            }
        }
    }

    &-name {
        .make-md-column(7);
    }

    &-get-involved {
        margin-bottom: 10px;
        margin-left: 20px;
        margin-top: 10px;
    }

    &-information {
        background-color: fadeout(@welcome-background-color, 85%);
        padding: 25px;

        &-item {
            .make-row(0);

            &-label {
                .make-md-column(3, 0);
                font-weight: bold;
                text-transform: capitalize;
            }
            &-value {
                .make-md-column(9);
            }
        }
    }
}

@media (max-width: 768px) {

    .lot-detail-map {
        padding-left: 0;
    }

}

.lot-detail-main-section {
    margin-bottom: 35px;

    &:last-child {
        margin-bottom: 0;
    }
}

.lot-detail-side-section {
    margin-bottom: 35px;

    &:last-child {
        margin-bottom: 0;
    }
}

.lot-detail-admin {
    margin-bottom: 10px;
}

ul.lot-detail-reasons {
    list-style: outside disc;
    margin-left: 20px;
}

ul.lot-detail-reasons li {
    margin-bottom: 5px;
}
