@media (min-width: 768px) {

    .lot-content-inner {
        padding-right: 25px;
    }

}

.lot-detail-main,
.lot-detail-side {
    padding: 10px;
}

.lot-detail-main-section {
    margin-bottom: 25px;
}

.lot-detail-main-section:last-child {
    margin-bottom: 0;
}

.lot-detail-side-section {
    margin-bottom: 25px;
}

.lot-detail-side-section:last-child {
    margin-bottom: 0;
}

.lot-detail-map-right {
    padding-left: 10px;
}

@media (max-width: 768px) {

    .lot-detail-map-right {
        padding-left: 0;
    }

}

.lot-detail-get-involved {
    margin-bottom: 10px;
}

.lot-detail-admin {
    margin-bottom: 10px;
}

.lot-detail-details table {
    width: 100%;
}

.lot-detail-details th {
    width: 30%;
}

.lot-detail-details th {
    padding-bottom: 5px;
    padding-top: 5px;
}

ul.lot-detail-reasons {
    list-style: outside disc;
    margin-left: 20px;
}

ul.lot-detail-reasons li {
    margin-bottom: 5px;
}

#streetview-error {
    display: none;
}
