.recent-entry {
    margin-bottom: 5px;
    margin-top: 5px;
}

.map-tally-container {
    .make-row(0);
    color: #553B43;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;

    h2 {
        font-size: 16px;
        text-transform: none;
    }

    .map-tally {
        &-section {
            .make-sm-column(4);
        }

        .count {
            color: #B1C06F;
            font-size: 24px;
        }
    }
}

.home-map-page {
    #page-wrapper {
        margin: 0;
        max-width: 100%;
    }

    .content-wrapper {
        padding: 0;
    }
}
