#map-right {
    padding-left: 25px;
}

@media (max-width: 768px) {

    #map-right {
        padding-left: 0;
    }

}

.map-sidebar-section {
    margin-bottom: 25px;
}

.map-sidebar-logos img {
    height: auto;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.recent-entry {
    margin-bottom: 5px;
    margin-top: 5px;
}

.map-tally-container {
    border-top: 1px solid #E6E2E3;
    color: #553B43;
}
#map-left .map-tally-container h2 {
    font-size: 16px;
    text-transform: none;
}

.map-tally li {
    float: left;
    padding: 15px;
}

.map-tally .count {
    color: #B1C06F;
    font-size: 24px;
}
