@map-tally-height: 90px;
@map-tally-vertical-padding: 10px;

.recent-entry {
    margin-bottom: 5px;
    margin-top: 5px;
}

.map-tally-container {
    .make-row(0);
    color: #553B43;
    height: @map-tally-height;
    padding-left: 25px;
    padding-bottom: @map-tally-vertical-padding;
    padding-top: @map-tally-vertical-padding;

    h2 {
        font-size: 16px;
        text-transform: none;
    }

    .map-tally {
        .make-sm-column(9);

        .count {
            color: #B1C06F;
            font-size: 24px;
        }
    }

    .main-buttons {
        .make-sm-column(3);
        .make-row(0);
        padding-right: 0;

        .btn {
            .make-sm-column(4);
            border-bottom: none;
            border-left-width: 2px;
            border-top: none;
            border-radius: 0;
            color: @nav-color;
            font-family: @nav-font-family;
            font-weight: bold;
            line-height: @map-tally-height;
            margin-top: -@map-tally-vertical-padding;

            &:last-child {
                border-right: none;
            }
        }
    }
}

.home-map-page {
    #page-wrapper {
        margin: 0;
        max-width: 100%;
    }

    .main-content {
        .make-md-column(12);
        .make-md-column-offset(0);
        padding: 0;
    }
}
