#mainmenu {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    float: left;
    height: 0;
    left: 195px;
    max-width: 700px;
    position: relative;
    top: -100px;

    a {
        color: #888;
    }

    .mainmenu-item {
        border-right: 1px solid #D4DAAC;
        float: left;
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 5px;
        padding-bottom: 5px;

        &:last-child {
            border-right: 0;
        }

        &:hover {
            .submenu {
                display: block;
            }
        }
    }
}

@media (max-width: 400px) {

    #mainmenu {
        background-color: white;
        height: auto;
        left: 0;
        max-width: none;
        position: static;
        top: 0;
        width: 100%;

        li {
            border: 0;
            float: none;
        }
    }

}

.submenu {
    background-color: rgba(256, 256, 256, 0.75);
    display: none;
    margin-left: -15px;
    padding: 15px;
    position: absolute;
}
