.newsletter {
    &-row {
        .make-row(0);
    }

    &-signup {
        .make-md-column(4);
        .make-md-column-offset(4);
        background-color: #E6E2E3;
        padding: 15px;
        padding-top: 5px;

        form {
            margin: 0;
        }
    }
}
