.social-media-icon {
    float: left;
}

.social-media-icon a {
    display: block;
}

.social-facebook {
    background: url(/static/img/facebook.png);
    height: 30px;
    width: 30px;
}

.social-rss {
    background: url(/static/img/rss.png);
    height: 30px;
    width: 30px;
}

.social-twitter {
    background: url(/static/img/twitter.png);
    height: 30px;
    width: 30px;
}
