{% extends "base.html" %}
{% load i18n inplace_tags %}

{% block title %}
    {% trans "Add a parcel" %} | {% trans "Grounded in Philly" %}
{% endblock %}

{% block body_class %} add-friendlyowner {% endblock %}

{% block content %}
    <div class="add-friendlyowner-row">
        <div class="add-friendlyowner-main">
            <h3>Add a parcel</h3>
            <p>Here's the parcel you're about to add. Please enter some information about yourself so we can contact you if we have any questions. Once we have a chance to look at the parcel we'll add it to the map.</p>
            <div id="friendlyowner-parcel-map"
                data-l-mapbox-id="{% inplace_setting PLACES_MAPBOX_ID %}"
                data-l-min-zoom="16"
            ></div>
            <div class="friendlyowner-form">
                {% include "_form.html" with form=form %}
            </div>
        </div>
    </div>
{% endblock %}
