{% load js static %}

<link rel="stylesheet" href="{% static "css/lib/normalize.css" %}">
<link rel="stylesheet" href="{% static "css/lib/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/lib/bootstrap-responsive.css" %}">
<link rel="stylesheet" href="{% static "bower_components/chosen_v1.2.0/chosen.css" %}">
<link rel="stylesheet" href="{% static "bower_components/leaflet/dist/leaflet.css" %}">
<link rel="stylesheet" href="{% static "bower_components/Leaflet.label/dist/leaflet.label.css" %}">
<link rel="stylesheet" href="{% static "js/lib/fancybox/jquery.fancybox.css" %}">
<link rel="stylesheet" href="{% static "js/lib/leaflet.label.css" %}" />
<link rel="stylesheet" href="{% static "js/lib/leaflet.usermarker/leaflet.usermarker.css" %}" />
<link rel="stylesheet" href="{% static "css/base.css" %}">

<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>

{% django_js jquery=false i18n=false csrf=false %}

<script src="{% static "js/bundle.js" %}"></script>
