{% load js static %}

<link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static "css/style.min.css" %}">

<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>

{% django_js jquery=false i18n=false csrf=false %}

{% if debug %}
    <script src="{% static "js/bundle.dev.js" %}"></script>
{% else %}
    <script src="{% static "js/bundle.min.js" %}"></script>
{% endif %}
